* {
	box-sizing: border-box;
}

#content {
    background-color: #def;
    display: flex;
    flex-direction: column;
    flex-direction: space-between;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    border-bottom: 2px solid black;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    margin: 0 10px;
}

.filter-form {
    display: flex;
    gap: 20px;
}