* {
	box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #def;
}

#content {
    display: flex;
    flex-direction: column;
    flex-direction: space-between;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    border-bottom: 2px solid black;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

.chart {
    flex: 1 1 auto;
}

.filter-form {
    display: flex;
    gap: 20px;
}